<mat-toolbar-row appearance="outlined">
  <mat-card-content></mat-card-content>
  <mat-card-content class="button-container">
    <button mat-icon-button aria-label="arrow_back-button" routerLink="/pantalla-historial-inicio-sesion">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card-content class="text-container">
      <mat-label>
        <mat-icon class="icon-large">book</mat-icon>
        Bitacora
      </mat-label>
    </mat-card-content>
    <mat-card-content>
      <button mat-icon-button (click)="toggleFiltros()" class="filter-button" #fab>
        <mat-icon>filter_list</mat-icon>
      </button>
  </mat-card-content>
</mat-card-content>
  <div class="filter-container" [class.show-filters]="filtrosVisibles">
    <mat-list>
    <div class="filter-group">
      <mat-label>Rol:</mat-label>
      <mat-select [(ngModel)]="filtroRol" (ngModelChange)="aplicarFiltros()" id="rolFilter">
        <mat-option value="">Cualquiera</mat-option>
        <mat-option *ngFor="let rol of rolesDisponibles" [value]="rol">{{ rol }}</mat-option>
      </mat-select>
    </div>
    <mat-divider></mat-divider>
    <div class="filter-group">
      <mat-form-field>
      <mat-label>Fecha (Desde)</mat-label>
        <input matInput [matDatepicker]="pickerInicio" placeholder="Fecha de Inicio" [(ngModel)]="filtroFechaRegistroMin" (ngModelChange)="aplicarFiltros()">
        <mat-datepicker-toggle matIconSuffix [for]="pickerInicio"></mat-datepicker-toggle>
        <mat-datepicker #pickerInicio></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="filter-group">
      <mat-form-field>
      <mat-label>Fecha (Hasta)</mat-label>
        <input matInput [matDatepicker]="pickerFin" placeholder="Fecha de Fin" [(ngModel)]="filtroFechaRegistroMax" (ngModelChange)="aplicarFiltros()">
        <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
        <mat-datepicker #pickerFin></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
  </mat-list>
    <button mat-button color="primary" (click)="limpiarFiltros()" class="clear-filters-button">
      Limpiar Filtros
    </button>
  </div>
</mat-toolbar-row>
<mat-card appearance="outlined">
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
          <td mat-cell *matCellDef="let row"> {{row.role}} </td>
        </ng-container>

        <ng-container matColumnDef="registrationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Date </th>
          <td mat-cell *matCellDef="let row"> {{row.registrationDate | date}} </td> </ng-container>

        <ng-container matColumnDef="lastChange">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Change </th>
          <td mat-cell *matCellDef="let row"> {{row.lastChange | date}} </td> </ng-container>

        <ng-container matColumnDef="lastChangeBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Change By </th>
          <td mat-cell *matCellDef="let row"> {{row.lastChangeBy}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>