/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 20px auto; /* Agregando margen superior para separar del toolbar */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

h1 {
  text-align: center;
  color: #333;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 10px;
  color: #007bff;
  text-align: left;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
}

.add-btn,
.remove-btn {
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.add-btn {
  background-color: #28a745;
  color: white;
}

.remove-btn {
  background-color: #dc3545;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

/* Contenedor de botones */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
}

.icon-large {
  font-size: 30px;
  margin-right: 10px;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
}

td {
  background-color: #f9f9f9;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

/* Botones de acción */
.modify-btn,
.delete-btn,
.cancel-btn,
.edit-btn {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.modify-btn,
.edit-btn {
  background-color: #28a745;
  color: white;
}

.modify-btn:hover,
.edit-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #c82333;
}

.cancel-btn {
  background-color: #6c757d;
  color: white;
}

.cancel-btn:hover {
  background-color: #5a6268;
}

.edit-btn {
  background-color: #ffc107;
  color: black;
}

.edit-btn:hover {
  background-color: #e0a800;
}

/* Botón de filtro */
.filter-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.filter-button:hover {
  background-color: #0056b3;
}

/* Contenedor de filtros */
.filter-container {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, display 0s ease 0.3s;
  width: 250px;
}

.filter-container.show-filters {
  display: block;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.filter-group {
  margin-bottom: 10px;
}

.filter-group label {
  margin-bottom: 5px;
  display: block;
}

.clear-filters-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: black;
}

/* Estilos de input container para los filtros */
.input-container {
  position: relative;
  width: 100%;
}

.input-container input,
.input-container select,
mat-select,
mat-form-field {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-container .placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #aaa;
  pointer-events: none;
  transition: all 0.3s;
}

.input-container input:focus + .placeholder,
.input-container input:not(:placeholder-shown) + .placeholder {
  top: 0px;
  font-size: 0px;
}

/* Estilos para mat-toolbar-row */
mat-toolbar-row{
  display: flex;
  justify-content: center;
}

mat-card{
  width: 100%;
}

.mat-elevation-z8{
  width: 100%;
}